{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <h2>Sign Up</h2>
                        <hr />
                        <form method="POST">
                            {% csrf_token %}
                            {{ template_data.form.as_p }}
                            <button type="submit"
                                class="btn bg-dark text-white">Sign Up
                            </button>

                            <button type="button" id="get-location" class="btn btn-secondary mt-2">
                                Use My Location
                            </button>

                            <script>
                                const getLocation = document.getElementById("get-location");
                                getLocation.addEventListener("click", () => {
                                    if (navigator.geolocation) {
                                        navigator.geolocation.getCurrentPosition((position) => {
                                            document.getElementById("id_latitude").value = position.coords.latitude.toFixed(6);
                                            document.getElementById("id_longitude").value = position.coords.longitude.toFixed(6);
                                        }, (error) => {
                                            alert("Unable to retrieve location: " + error.message);
                                        });
                                    } else {
                                        alert("Geolocation is not supported by this browser.");
                                    }
                                });
                            </script>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}